@font-face{
  font-family:'FuturaLight';
  src:url('./assets/fonts/FuturaLight.otf') format(opentype);
}
#admin-page-wrapper-dinner-menu{
  width:100%;
  min-height:100vh;
  min-height:100svh;
  border:1px solid red;
  background:lightgrey;
}
#admin-header{
  background:green;
  min-width:8.5in;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 20px;
}
#admin-page{
  font-size: 30px;
  font-weight: 900;
}
#admin-page-toggle-menu{
  display:flex;
  align-items: center;
  gap:5px;
}
#admin-header button{
  padding:5px;
  font-size: 15px;
  cursor:pointer;
}
#admin-dinner-menu{
  padding-top:20px;
  padding-left:40px;
  padding-right:40px;
  width:8.5in;
  height:14in;
  background:white;
  margin:0 auto;
  font-family: serif;
}
#admin-dinner-menu-top{
  display:flex;
}
#admin-dinner-menu-top-left,
#admin-dinner-menu-top-right{
  width:50%;
}
#cochinillo{
  font-style: italic;
}
#admin-dinner-menu h2{
  font-family: FuturaLight;
  font-weight: 900;
}
#admin-dinner-menu-sides{
  display:flex;
  flex-wrap:wrap;
}
#admin-dinner-menu-sides .menu-item{
  width:50%;
}
#admin-form{
  width:300px;
  border:1px solid green;
}
.admin-form-btn{
  width:120px;
  height:50px;
  border:1px solid black;
  font-family:serif;
  font-size:20px;
  border-radius: 10px;
  margin:10px auto;
  display:grid;
  align-items: center;
  text-align: center;
  cursor:pointer;
}
#admin-form-outer-wrapper{
  width:100%;
}
#admin-form-inner-wrapper{
  width:8.5in;
  margin:0 auto;
}
form{
  margin:0 auto;
}
form h2{
  text-align: center;
}
form input,
form textarea{
  width:100%;
}
.name{
  font-weight:900;
  font-size:18px;
  font-family: FuturaLight;
}
.allergies{
  font-family:serif;
  font-size: 14px;
}
.pre-description{
  font-size: 15px;
  font-style: italic;
}
.description{
  font-size:15px;
}
.price{
  font-weight: 900;
  font-size: 14px;
}
.menu-item-buttons button{
  padding:5px;
  border-radius:10px;
  font-size: 16px;
  cursor:pointer;
}
.menu-item-buttons{
  display:none;
}