@font-face{
  font-family:'FuturaLight';
  src:url('./assets/fonts/FuturaLight.otf') format(opentype);
}
#admin-page-wrapper-dinner-menu{
  width:100%;
  min-height:100vh;
  min-height:100svh;
  /* border:1px solid red; */
  background:lightgrey;
}
#admin-dinner-menu-meats{
  border:1px solid black;
}
#admin-header{
  background:green;
  min-width:8.5in;
  width:100%;
  padding:5px 20px;
  position:fixed;
  z-index: 100;
}
#admin-header-content{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:8.5in;
  margin:0 auto;
}
#whitespace-controls{
  width:8.5in;
  margin:0 auto;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
#admin-page{
  font-size: 30px;
  font-weight: 900;
}
#admin-page-toggle-menu{
  display:flex;
  align-items: center;
  gap:5px;
}
#admin-header button{
  padding:5px;
  font-size: 15px;
  cursor:pointer;
}
#admin-dinner-menu{
  background-image: url('./olea-dinner-menu-scan.jpg');
  background-size: 8.5in 14in;
  color:red;
  padding-top:28px;
  padding-left:40px;
  padding-right:40px;
  width:8.5in;
  height:14in;
  margin:0 auto;
  /* margin-top:110px; */
  font-family: serif;
}
#admin-dinner-menu-top{
  display:flex;
}
#admin-dinner-menu-top-left,
#admin-dinner-menu-top-right{
  width:50%;
}
#cochinillo{
  font-style: italic;
}
#admin-dinner-menu h2{
  font-family: FuturaLight;
  font-weight: 900;
}
#admin-dinner-menu-sides{
  border:1px solid black;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-bottom: 10px;
}
#admin-dinner-menu-sides .menu-item{
  width:50%;
}
#admin-form{
  width:300px;
  border:1px solid green;
}
.admin-form-btn{
  width:120px;
  height:50px;
  border:1px solid black;
  font-family:serif;
  font-size:20px;
  border-radius: 10px;
  margin:10px auto;
  display:grid;
  align-items: center;
  text-align: center;
  cursor:pointer;
}
#admin-form-outer-wrapper{
  width:100%;
}
#admin-form-inner-wrapper{
  width:8.5in;
  margin:0 auto;
}
form{
  margin:0 auto;
  margin-top: 80px;
}
form h2{
  text-align: center;
}
form input,
form textarea{
  width:100%;
}
.name, #chef{
  font-weight:900;
  font-size:18px;
  font-family: FuturaLight;
}
.allergies{
  font-family:serif;
  font-size: 14px;
}
.pre-description{
  font-size: 15px;
  font-style: italic;
}
.description{
  font-size:15px;
}
.price{
  font-weight: 900;
  font-size: 14px;
}
#whitespace-vertical{
  display:flex;
  flex-direction: column;
}
#whitespace-horizontal{
  display:flex;
}
#admin-dinner-menu-footer{
  display:flex;
  justify-content: space-between;
  width:100%;
}
#legal{
  width:55%;
  font-size: 10px;
  font-family: serif;
}
#legal div{
  font-weight: 900;
}
#archive-wrapper{
  width:100%;
}
#archive-content{
  width:4.25in;
  margin:0 auto;
}
#old-pic-wrapper{
  text-align: center;
}