@font-face {
    font-family: 'FuturaLight';
    src: url(./assets/fonts/FuturaLight.otf);
}
#pics-page-wrapper,
#root-page-wrapper{
    width:100%;
    background:grey;
}
#root-page-content,
#pics-page-content{
    max-width:1060px;
    min-height:100vh;
    background:black;
    color:white;
    font-family: FuturaLight;
    margin:0 auto;
    display:flex;
    flex-direction: column;
}
li{
    list-style-type: none;
}



