@font-face{
    font-family: 'FuturaLight';
    src: url('./assets/fonts/FuturaLight.otf')
}
@font-face{
    font-family:'FuturaMedium';
    src:url('./assets/fonts/FuturaMedium.otf')
}
@media print{
    .no-print{
        display:none !important;
        height:0;
        width:0;
    }
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.icon{
    max-width: 175px;
    max-height: 175px;
}
#logo{
    font-size: 55px;
    font-weight: 100;
    font-family: FuturaLight;
}
