#menu-page-wrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
#menu-page-content{
    width:8.5in;
    margin:0 auto;
    background-image:url('menu-background.jpg');
}
