@font-face{
    font-family: 'FuturaLight';
    src: url(./assets/fonts/FuturaLight.otf);
}
#menu-page-wrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
#menu-page-content{
    font-family: FuturaLight;
    width:8.5in;
    margin:0 auto;
    background-image:url('./menu-background.jpg');
}
h1{
    font-weight:100;
}
#menu-page-footer{
    display: flex;
    justify-content: space-between;
}
#menu-top{
    display:flex;
}
#menu-top-left,
#menu-top-right{
    flex:1;
}
#sides{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
#sides>div{
    width:50%;
}
